@model IEnumerable<RatingSort>

        @{
            ViewData["Title"] = "Index";
        }

        <h1>My Grades</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        Title
                    </th>
                    <th>
                        Image
                    </th>
                    <th>
                        Score
                    <th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CarTitle)
                    </td>
                    <td>
                        @if (item.CarImage == null)
                        {
                            <img src="@("~/images/placeholder.jpg")" asp-append-version="true" width="250" height="200" />
                        }
                        else
                        {
                            <img src="@("~/images/"+item.CarImage)" asp-append-version="true" width="250" height="200" />
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Score)
                    </td>
                </tr>
                }
            </tbody>
        </table>
